.review  .review-slider{
   border: 1px solid blue; 
   padding: 1rem;
}

.review .review-slider .box{
    border:2px solid red;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 12px 10px;
    /* outline-offset: 1rem; */
    outline: .1rem solid rgba;
    box-shadow: 0.5rem 1rem rgba;
    transition: .2s linear;
    margin-top: 10px;
    height:150px;
}

.imagereview{
    display: flex;
    
    
}

.reviewcomment{
    margin-left: 30%;
}



